/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************************************************************************************************************/
body, html{height:100%; 
		width:100%;}
#wrapper
{
	position:relative; 
	min-width:800px; 
	min-height:600px;
	width:100%;
	height:100%;
}

.head{position:relative; height:7.5%; width:98%;
	font:50px 'century gothic'; color:#FFF; padding:1%; background:#04B45F; border-bottom:2px solid #04945F;}
.cont{position:relative; height:88%; width:100%;background:url(../img/back.png) repeat 50% 50%;}

.box 
{
	position:relative; 
	height:55%; 
	width:25%; 
	margin:auto; 
	min-height:400px; 
	min-width:330px; 
	opacity:0.85; 
	background:#FFF;	
	border-radius:10px;
	border:1px solid #AAA; 
	top:5%; 
	font:20px 'Century Gothic';
}

.box_in{position:absolute; 
height:100%; 
width:100%;  
top:2%;
text-align:center;
opactiy:1; }

.box .box_in input{display:block; 
width:90%; 
height:12%; 
position:relative; 
margin:auto; 
border:2px solid #CCC; 
border-radius:10px; 
margin-top:2%;
font:16px calibri;
color:#333;
text-align:center;}

.box_in .feed{position:relative; 
height:10%; 
width:90%; 
top:2%;
margin:auto; 
font:14px calibri; 
color:red; 
text-align:center;}

.box_in a{text-decoration:none; 
color:#999;
}
.box_in form{position:relative; 
height:65%;
width:100%;
}
.box_in form .big {position:relative;
font: 20px 'century gothic';
display:block;

width:80%; 
top:5%; 
height:15%; 
background:#00FF56;
border-radius:5px; 
color:#FFF;
cursor:pointer;
}

.box_in .big:hover{background:#00E500;}

.explore{position:relative; 
height:13%; 
width:25%;
min-width:330px; 
min-height:50px;
margin-left:auto;
margin-right:auto; 
margin-top:3%;
background:#999; 
text-align:center; 
border-radius:10px;}

.explore a{text-decoration:none;
display:block; 
 padding-top:5%; 
 padding-bottom:10%;
 color:#FFF;
 text-align:center;
 font:25px 'Century Gothic';
 height:50%;
 width:100%;} 

 .explore a:hover{color:#333;}
