body{border:0; padding :0; margin:0;}
#useronline {position:relative; height:500px; width: 200px; left:0; border: 1px solid black;}
.cntlink{position:relative; height:50px; width : 200px; background:#005698; border: 2px solid #AAA; cursor:pointer;}